{% extends 'base.html' %}
{% block body %}
<h1>{{ the_title }}</h1>
<form name="submit-review" action="" method="POST">
        <input name="fr" type="text" value="{{ fr_item }}" aria-label="Французский" class="blue" />
        <input name="ru" type="text" value="{{ ru_item }}" aria-label="Русский" class="red" />                        
        <input name="comment" type="text" value="{{ comment_item }}" aria-label="Комментарий" />
        <input name="category" type="text" value="{{ category_item }}" aria-label="Категория" />
        <button class="button" type="submit" name="edit">Изменить</button>
        <button class="button delete-btn" type="submit" name="delete">Удалить</button>
</form>
<p><a href="/" class="highlighted">>>> Вернуться на главную страницу</a></p>
{% endblock %}